@font-face {
  font-family: "calibri";
  src: url("@/assets/fonts/calibri.ttf");
  font-display: block;
}

/* Default (Light Mode) */
:root {
  --color-sixty: #ffffff;
  --color-thirty: #f7f2e6;
  --color-ten: #3a4d39;

  --color-overSixty: #000000;
  --color-overThirty: #231515;
  --color-overTen: #ffffff;

  --color-destructive: #ef233c;
  --color-update: #4361ee;
  --color-clear: #ef233c;

  --color-dollar: #3a86ff;
  --color-inventory: #f3722c;
  --color-management: #3d405b;
  --color-client: #7b2cbf;
  --color-company: #ee9b00;
  --color-employee: #006d77;

  --color-mdf: #0077b6;
  --color-ballon: #c1121f;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
